@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 400px;
}

.popup__close {
  width: 15px;
  height: 15px;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.form__button_popup {
  padding: 45px 12px;
  margin-left: calc(100% - 156px);
}

.form__item .form__text_popup {
  min-width: 100%;
}

div.form__item_popup {
  width: 100%;
}

div.form__item_popup .form__button {
  width: 100%;
  margin-left: 0;
}

._error {
  border: solid 1px #ff8080;
  border-radius: 5px;
}

.header__content {
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 11;
}

.header-menu__icon {
  display: none;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__link {
  margin: 0px 10px;
  color: #002b3c;
  font-size: 14px;
  font-weight: 400;
}

.header-menu__link:hover {
  color: #000;
}

.header__contacts {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contacts {
  color: #939393;
}

.contacts__mail,
.contacts__phone {
  display: inline-block;
  color: #939393;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin: 7px 0px;
}

.contacts__mail:hover,
.contacts__phone:hover {
  color: #000;
}

.contacts__phone {
  color: #939393;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  min-height: 200px;
  padding: 60px 0px;
  background: #f9f9f9;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo {
  margin: 0px 0px 20px 0px;
}

.footer__link a {
  position: relative;
  color: #e51935;
  font-size: 14px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__link a:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  border-radius: 4px;
  bottom: -5px;
  left: 50%;
  background: #e51935;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__link a:hover:before {
  width: 120px;
}

.footer__text {
  color: #939393;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}

.footer__social a {
  margin: 0px 5px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  padding: 0px 10px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  color: #e51935;
  font-size: 14px;
  font-weight: 700;
  border: solid 1px #e51935;
  padding: 12px 45px;
  margin: 0px 0px 10px 0px;
  background: transparent;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn:hover {
  background: #e51935;
  color: #fff;
  border: solid 1px #fff;
}

._no-webp .mainscreen{
  background: url("../img/mainscreen-bg.png") 70% 50%/cover no-repeat; }

.mainscreen {
  padding: 120px 0px;
}

.mainscreen span {
  font-size: 11px;
  color: #002b3c;
}

.mainscreen a {
  font-size: 11px;
  color: #002b3c;
}

.mainscreen__span-left {
  margin: 0px 70px 0px 0px;
}

.mainscreen__span-right a {
  text-decoration: underline;
  line-height: 20px;
  color: #002b3c;
}

.mainscreen__title {
  font-size: 60px;
  font-weight: 700;
  margin: 0px 0px 60px 0px;
}

a.mainscreen__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  color: #e51935;
  font-size: 14px;
  font-weight: 700;
  border: solid 1px #e51935;
  border-radius: 5px;
  padding: 12px 45px;
  margin: 0px 0px 10px 0px;
  background: transparent;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a.mainscreen__btn:hover {
  background: #e51935;
  color: #fff;
  border: solid 1px #fff;
}

.about {
  padding: 60px 0px;
  background-color: #f5f5f5;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column-b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.about__title {
  margin: 0px 0px 18px 0px;
}

.title {
  color: #002b3c;
  font-size: 20px;
  font-weight: 500;
}

.about__text {
  color: #909090;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.about__column-l {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__btn {
  padding: 24px 17px;
}

.benefits {
  background: #f9f9f9;
  padding: 50px 0px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__img {
  margin: 0px 0px 30px 0px;
}

.benefits__label {
  color: #123645;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.description {
  padding: 100px 0px 60px 0px;
}

.description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
}

._no-webp .description__bg{
  background: url("../img/bg1.png") 50%/cover no-repeat; }

.description__bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 0px 0px 35% 0px;
}

._no-webp .description__bg_bottom{
  background: url("../img/bg2.png") 50%/cover no-repeat; }

.description__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  padding: 50px 0px 50px 100px;
}

.description-content__title {
  text-align: center;
  margin: 0px 0px 35px -100px;
}

.description-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.description-content__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  color: #002b3c;
  font-size: 16px;
  font-weight: 500;
}

.description-content__text {
  color: #909090;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.description-content__list-item {
  color: #002b3c;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 0px 22px 0px;
}

.calculation {
  padding: 40px 0px;
  background: #f9f9f9;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.calculation__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.form__label {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  color: #002b3c;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}

.form__item {
  position: relative;
  margin: 0px 0px 13px 0px;
  width: 75%;
}

.select__title {
  background: #eaeaea;
  color: #002b3c;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.select__value span {
  margin: 0px 5px 0px 0px;
  font-size: 13px;
}

._no-webp .select__value::before{
  background: url(../img/123.png) center/100% no-repeat; }

.select__value::before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 7px;
  height: 11px;
}

.select__option {
  font-size: 13px;
  text-align: right;
}

.form__textarea {
  background: #eaeaea;
  border-radius: 5px;
  padding: 10px;
}

textarea.form__textarea {
  min-height: 73px;
  min-width: 65%;
}

.form__date,
.form__text {
  background: #eaeaea;
  border-radius: 5px;
  min-width: 65%;
  padding: 8px 13px 8px 13px;
}

.form__label-date,
.form__label-massage {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  color: #002b3c;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  max-width: 30%;
}

.form__button {
  color: #e51935;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  border: solid 1px #e51935;
  border-radius: 5px;
  padding: 12px 50px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-left: calc(100% - 175px);
  margin-top: 15px;
}

.form__button:hover {
  color: #fff;
  background: #e51935;
}

.diaries {
  padding: 100px 0px 50px 0px;
}

.diaries__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diaries__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 10px;
}

._no-webp .diaries__img1, ._no-webp .diaries__img2, ._no-webp .diaries__img3{
  background: url("../img/IMG_1.png") 50%/cover no-repeat; }

.diaries__img1,
.diaries__img2,
.diaries__img3 {
  position: relative;
  padding: 0px 0px 100% 0px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.diaries__img1 p,
.diaries__img2 p,
.diaries__img3 p {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 0px 50px 0px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.diaries__img1 p:before,
.diaries__img2 p:before,
.diaries__img3 p:before {
  content: "";
  position: absolute;
  width: 65px;
  height: 4px;
  border-radius: 4px;
  background: #e51935;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

._no-webp .diaries__img2{
  background: url("../img/IMG_2.png") 50%/cover no-repeat; }

._no-webp .diaries__img3{
  background: url("../img/IMG_3.png") 50%/cover no-repeat; }

.diaries__img1:hover,
.diaries__img2:hover,
.diaries__img3:hover {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.diaries__img1:hover p,
.diaries__img2:hover p,
.diaries__img3:hover p {
  background-color: rgba(0, 0, 0, 0.5);
}

.diaries__img1:hover p:before,
.diaries__img2:hover p:before,
.diaries__img3:hover p:before {
  width: 85px;
}

.diaries__text {
  margin: 30px 0px 0px 0px;
  color: #909090;
  font-size: 13px;
  text-align: center;
}

.slider {
  padding: 50px 0px 100px 0px;
}

.slider__title {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.swiper-container {
  max-width: 1130px;
  padding: 0px 10px;
  margin: 0 auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000;
  font-size: 25px;
}

.swiper-container-initialized .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1120px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1100px) {
  ._no-webp .mainscreen{
    background: url("../img/mainscreen-bg.png") 70% 50%/cover no-repeat; }

  .description {
    padding: 70px 0px;
  }

  .description-content__title {
    margin: 0px 0px 35px -70px;
  }

  .description-content__row {
    margin: 0px 0px 15px 0px;
  }

  .description__content {
    padding: 40px 20px 40px 20px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .contacts__mail,
  .contacts__phone {
    font-size: 13px;
    margin: 5px 0px;
  }

  .header-menu__link {
    font-size: 13px;
    margin: 0px 7px;
  }
}

@media (max-width: 950px) {
  ._no-webp .mainscreen{
    background: url("../img/mainscreen-bg.png") 60% 50%/cover no-repeat; }

  .mainscreen__title {
    font-size: 50px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header-menu__icon {
    display: block;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header-menu__icon span:first-child {
    top: 0px;
  }

  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header-menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header-menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 100px 0px 0px 0px;
    width: 200px;
    height: 100%;
    background: #ebebeb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .header-menu._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header-menu li {
    margin: 10px;
  }

  .header-menu__link {
    font-size: 18px;
  }

  .header-menu-list {
    display: block;
  }

  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 50px 0px 0px;
  }

  .contacts__mail,
  .contacts__phone {
    margin: 0px 5px;
  }

  .description {
    padding: 50px 0px;
  }

  .description-content__title {
    margin: 0px 0px 35px 0px;
  }

  .description__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 40px 0px;
  }

  .description__bg,
  .description__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .description__bg {
    padding: 0px 0px 70% 0px;
  }

  .description__bg_bottom {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .description__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 40px 20px 0px 20px;
  }

  .description-content__list-item {
    margin: 0px 0px 18px 0px;
  }

  .form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form__item {
    width: 100%;
  }

  .select__value {
    padding: 18px;
  }

  .form__text {
    padding: 10px;
  }

  .form__label {
    top: 13px;
  }

  .form__label-date,
  .form__label-massage {
    top: 13px;
  }

  .diaries__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .diaries__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 40px 0px;
  }

  .diaries__img1,
  .diaries__img2,
  .diaries__img3 {
    padding: 0px 0px 70% 0px;
  }

  .diaries__text {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .mainscreen__title {
    font-size: 36px;
  }

  ._no-webp .mainscreen{
    background: url("../img/mainscreen-bg.png") 60% 50%/cover no-repeat rgba(255, 255, 255, 0.4); }

  .mainscreen {
    background-blend-mode: screen;
    padding: 80px 0px;
  }

  .benefits__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 600px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column1,
  .footer__column2,
  .footer__column3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0px;
  }

  .footer {
    padding: 30px 0px;
  }

  .footer__contacts {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .header__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__row {
    display: block;
  }

  .about__btn {
    margin: 30px 0px 0px 0px;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

._webp .mainscreen{ background: url(../img/mainscreen-bg.webp) 70% 50%/cover no-repeat; }

._webp .description__bg{ background: url(../img/bg1.webp) 50%/cover no-repeat; }

._webp .description__bg_bottom{ background: url(../img/bg2.webp) 50%/cover no-repeat; }

._webp .select__value::before{ background: url(../img/123.webp) center/100% no-repeat; }

._webp .diaries__img1, ._webp .diaries__img2, ._webp .diaries__img3{ background: url(../img/IMG_1.webp) 50%/cover no-repeat; }

._webp .diaries__img2{ background: url(../img/IMG_2.webp) 50%/cover no-repeat; }

._webp .diaries__img3{ background: url(../img/IMG_3.webp) 50%/cover no-repeat; }

@media (max-width: 1100px){

  ._webp .mainscreen{ background: url(../img/mainscreen-bg.webp) 70% 50%/cover no-repeat; }
}

@media (max-width: 950px){

  ._webp .mainscreen{ background: url(../img/mainscreen-bg.webp) 60% 50%/cover no-repeat; }
}

@media (max-width: 767px){

  ._webp .mainscreen{ background: url(../img/mainscreen-bg.webp) 60% 50%/cover no-repeat rgba(255, 255, 255, 0.4); }
}